@import "utilities";

header{

    position: relative;

    .logo-container{
        margin: 10px 0 0 10px;
    }
    
    .navbar-menu{
        .menu-item{
            font-family: $primary-font;
            color: white;
            &:hover{
                color: rgb(255, 214, 153);
                background-color: black;
            }
        }
    }
    
    .homebanner-container{
        margin-top: 35px;
    }
    
    .claims{
        position: absolute;
        top: 10rem;
        right: 50%;
        transform: translate(50%,-50%);

        .claim1{
            font-size: 2rem;
            font-family: $primary-font;
        }

        .claim2{
            font-size: 1.5rem;
            font-family: $primary-font;
            transform: translate(25%,-50%);
        }
    }

}
